/* Базовые стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #c8428e;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    flex: 1 1 calc(33% - 40px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: #c8428e;
    color: white;
    text-align: center;
    padding: 20px;
}
/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    header nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        flex: 1 1 100%;
    }
}
img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Закругление углов */
}